<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Demo02</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body ng-app ng-init="firstName='Bruce'; lastName='Lee';">
	<!-- This demo shows two-way data binding in Angular -->
	<strong>First Name: </strong> {{firstName}} 
	<br />
	<strong>Last Name: </strong> <span ng-bind="lastName"></span>
	<br />
	<label>Set first name: <input type="text" ng-model="firstName"/></label>
	<br />
	<label>Set last name: <input type="text" ng-model="lastName"/></label>
</body>
</html>