<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Demo03</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script>
	var simpleController = function($scope) {
		// Initialize the model variables
	  	$scope.firstName = "Bruce";
	  	$scope.lastName = "Lee";
	
	  	// Define utility functions
	  	$scope.getFullName = function() {
	    	return $scope.firstName + " " + $scope.lastName;
	  	};
	};
</script>
</head>
<body ng-app>
	<!-- This demo shows controller in Angular -->
	<div ng-controller="simpleController">
		<strong>First Name: </strong> {{firstName}} 
		<br />
		<strong>Last Name: </strong> <span ng-bind="lastName"></span>
		<br />
		<strong>Full Name: </strong> {{getFullName()}}
		<br />
		<label>Set first name: <input type="text" ng-model="firstName"/></label>
		<br />
		<label>Set last name: <input type="text" ng-model="lastName"/></label>
	</div>
</body>
</html>